* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    background-image: url('background.png');
    color: #fff;
    font-family: Verdana, sans-serif;
}


/* 

																											LOGO

*/

#g5logo {
    position: absolute;
    left: 50%;
    top: 1em;
    transform: translateX(-50%);
}

#g5logo img {
    max-width: 30px;
}


/* 

																											SLUG INPUT AND BUTTON

*/

#slugSubmit {
    border: 1px solid #A3BE8C;
    color: #A3BE8C;
    background-color: #333;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    padding: 0.75em 0 0.75em 0;
    width: 90%;
}

#slugSubmit:hover {
    transition: 0.2s;
    background-color: #616D58;
    color: #fff;
}

#desiredSlugForm #desiredSlug {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 85%;
    padding: 0.75em 0.5em 0.75em 0.5em;
    border-radius: 5px;
    background-color: #555;
    border: none;
    color: #fff;
    margin-bottom: 1em;
    margin-top: 4em;
}

#desiredSlugForm #desiredSlug:focus {
    outline: none;
}

#desiredSlugForm #desiredSlug::placeholder {
    color: #fff;
}


/* 

																											DROPDOWN START 

*/

#dropDown {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
}

ul {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

ul ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    -webkit-transition: max-height .25s ease-in-out .25s;
    -moz-transition: max-height .25s ease-in-out .25s;
    -o-transition: max-height .25s ease-in-out .25s;
    -ms-transition: max-height .25s ease-in-out .25s;
    transition: max-height .25s ease-in-out .25s;
    width: 100%;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

ul li a {
    cursor: default;
}

ul li ul li:hover {
    background-color: #555;
}

ul li ul li a {
    cursor: pointer;
}

ul:hover ul {
    max-height: 30em;
}